:root {
    --primary-color: #0A2A43;
    --secondary-color: #0F4C75;
    --accent1-color: #2EC4B6;
    --heading-font: "Montserrat", sans-serif;
    --body-font: Montserrat, Helvetica, sans-serif;

}

header {
    background-color: var(--primary-color);
    color: var(--accent1-color);
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 0 20px;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

header nav a {
    padding: 10px 25px;
    text-decoration: none;
    background-color: #ddd;
    color: #000;
    border: 1px solid #999;
}

header a {
    color: var(--accent1-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}

header,
main,
footer {
    width: 1080px;
    margin: 0 auto;
}

h2 {
    font-family: var(--heading-font);
    color: #fff;
    background-color: var(--secondary-color);
    text-align: center;
}

nav,
p,
article {
    margin: 16px;
    padding: 8px;
    text-align: justify;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 20px;
    height: auto;
}

.hero {
    position: relative;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: var(--secondary-color);
    color: #fff;
    text-align: justify;
    overflow: auto;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    color: #000;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 16px;
}

.history-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px
}

.history-content img {
    width: 200px;
    height: auto;
}

.history-content p {
    flex: 1;
}

.rafting-pics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
}

.rafting-pics h2 {
    grid-column: 1/-1;
}

.rafting-pics figure {
    margin: 0;
}

.rafting-pics img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.rafting-pics figcaption {
    margin-top: 8px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

footer .socialmedia {
    justify-content: flex-end;
}

.contact-info {
    text-align: center;
}

.contact-info p {
    text-align: center;
}

.map-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.map-form-content {
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

.map {
    flex: 1;
}

.map iframe {
    width: 100%;
    min-height: 275px;
}

.contact-form {
    flex: 1;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 15px;
    align-items: center;
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.messagebox {
    grid-column: 1 / -1;
}

.messagebox textarea {
    width: 100%;
}

.checkbox {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.button {
    grid-column: 1 / -1;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;

}