:root {
    --primary-color: #0A2A43;
    --secondary-color: #0F4C75;
    --accent1-color: #2EC4B6;
    --heading-font: "Montserrat", sans-serif;
    --body-font: Montserrat, Helvetica, sans-serif;

}

header {
    background-color: var(--primary-color);
    color: var(--accent1-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}

header,
main,
footer {
    width: 1080px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 20px;
    height: auto;
}

.hero {
    position: relative;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: var(--secondary-color);
    color: #fff;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
}