main {
    max-width: 840px;
}

aside {
    width: 300px;
    margin: 2px;
    border: 1px solid black;
    padding: 2px;
    background-color: rgb(198, 207, 243);
    color: rgb(0, 0, 0);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

footer {
    margin-top: 15px;
    border-top: 1px solid black;
    text-align: center;
}