body {
    font-family: "Arial", sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Helvetica";
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    margin: 10pz;
    text-align: center;
}

h2 {
    border-bottom: 1px solid #222;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 40px #333;
}

section {
    margin: 20px 0;
    border: 1px solid rgb(0 0 0 /10%);
    padding: 10px;
    background-color: lightgray;
    font-size: .9rem;
}

section p {
    margin: 10px;
}

footer {
    font-size: .9rem;
    background-color: #333;
    text-align: center;
    color: #aaa;
    font-family: "Helvetica";
}